* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    padding-right: 3rem;
    padding-left: 3rem;
}

.header-area {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.brandname{
    width: 33.3%;
}
a:link{
    text-decoration: none;
    color: black ;
}
a:visited{
    color: black;
}
 a:hover{
    color: black;
    text-decoration: underline;
}
.menu {
    width: 66%;
    margin-left: auto;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.showcase {
    width: 33.3%;
}
.showcase-content {
    width: 49.8%;
}

.masonry-area {
    display: flex;
    flex-wrap: wrap;
    
}

.mycolumn {
    width: 33.3%;
    padding:0 4px;
}
.mycolumn img {
    width: 100%;
    vertical-align:middle;
    margin-top: 8px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 600ms ease;
    -webkit-transition: -webkit-filter 600ms ease;
}
.mycolumn img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}


.middle{
transition: .5s ease;
opacity: 0;
position: absolute;
top: 8px;
text-align: left;
width:100%;
}
.pic-container {
    position: relative;
}
.pic-container:hover .middle{
    opacity: 1;
}
.linkname{
background-color: rgb(198, 199, 198);
  font-size: 16px;
  line-height: 3rem;
  padding: 0 5px;

}


        .l-post-title {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        .l-post-title h6 {
            width: 66.6%;
            padding:0.5rem;
            color:rgb(22, 21, 21);
            font-size: 0.9rem;
            
        } 

        .posts-main {
            display: flex;
            flex-wrap: wrap;
            width:66.6%;
            margin-left:33.3%;
            list-style-type: none;
            font-size: 0.8rem;
            color:rgb(22, 21, 21);
            padding-bottom: 5rem;
        }
        .posts-main > div{
            width:25%;
            padding:0.5rem;
        }
        li {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 0.5rem;
        }

        /* footer */
        .footer {
            display: flex;
            flex-wrap: wrap;
            width:66.6%;
            margin-left:33.3%;
            list-style-type: none;
            font-size: 0.6rem;
            color:rgb(43, 41, 41);
            padding-top: 4rem;
        }
        .footer > div{
            width:25%;
            padding:0.5rem;
            align-items: flex-end;
            
        }


@media only screen and (max-width: 600px) {
    .showcase, .showcase-content {
        width: 100%;
    }
    .mycolumn {
        width: 50%;
    }
    #mycolumn3 {
        width: 100%;
        padding: 0;        
    }
    #mycolumn3 img {
        width:calc(48.6% - 4px);
        margin-right: 4px;
        margin-left: 4px;
    }
    .middle {
        display: none;
    }

    li {
        display: block;
        overflow: visible;
    }
    .posts-main .otherposts{
        display: none;
    }
    .latest{
        width: 100%;
    }
    .posts-main{
        width:100%;
        margin-left: 0;
    }
    .footer{
        width:100%;
        margin-left: 0;
    }
    .footer > div {
        flex-direction: column;
    }
    
}